body {
    background-image: url('https://th.bing.com/th/id/OIP.0BFMLnZaj-78zl5fs2izawHaG8?pid=ImgDet&rs=1');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
}
